<!doctype html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Travlr</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css" />
   </head>
   <body>
      <nav>
            <ul>
               <li><a class="nav-link" href="/">Home</a></li>
               <li><a class="nav-link" href="/about">About</a></li>
			   {{#if user_auth}}
                 <li><a class="nav-link" href="/profile">Profile</a></li>
                 <li><a class="nav-link" href="/trips">Trips</a></li>
                 <li><a class="nav-link" href="/reviews">Reviews</a></li>               
			   {{else}}
				 <li><a class="nav-link" href="/login">Login</a></li>
				 <li><a class="nav-link" href="/register">Register</a></li>
			   {{/if}}
			</ul>
      </nav>
      <div>
         {{{body}}}
      </div>
   <script src="/js/nav.js"></script>
   </body>
</html>