<!doctype html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Travlr</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css" />
   </head>
   <body>
      <nav>
            <ul>
               <li><a class="nav-link" href="/">Home</a></li>
               <li><a class="nav-link" href="/area1">area1</a></li>
               <li><a class="nav-link" href="/area2">area2</a></li>
               <li><a class="nav-link" href="/area3">area3</a></li>
               <li><a class="nav-link" href="/area4">area4</a></li>
               <li><a class="nav-link" href="/area5">area5</a></li>               
            </ul>
      </nav>
      <div>
         {{{body}}}
      </div>
   <script src="/js/nav.js"></script>
   </body>
</html>