<h1>About Travlr</h1>

<p>Travlr provides trip recommendations to users based on preferences. Recommended trips included travel arrangements, accomodations and activities at the destination.</p>

<img src="/img/beach-with-boat.jpg" height="200" width="200"></img>
<img src="/img/ocean-sunset.jpg" height="200" width="200"></img>