<h1>Travlr</h1>

<p>Travlr provides trip recommendations to users based on preferences. Recommended trips included travel arrangements, accomodations and activities at the destination.</p>

<a href="/profile">Profile Page</a>

<a href="/trip">Trip Page</a>

<a href="/review">Review Page</a>