<h1>Login</h1>

<p>Enter email and password below to login</p>

<form method="post" id="input-form">
   <table class="form-table">
      <thead></thead>
      <tbody>
         <tr>
            <td>
               <label for="phone">Email Address: </label>
            </td>
            <td colspan="4">
               <input type="email" id="formEmail" name="email"/>
            </td>
         </tr>
		 <tr>
            <td>
               <label for="password1">Password: </label>
            </td>
            <td colspan="4">
               <input type="password" id="formPass1" name="password1"/>
            </td>
         </tr>
         <tr>
            <td colspan="6" align="center">
               <button id="formBtn" type="button">Login</button>
            </td>
         </tr>
      </tbody>
   </table>
</form>