<ion-header>
  	<ion-toolbar color=primary>
	  	<ion-buttons slot="start">
			<ion-back-button defaultHref="/login"></ion-back-button>
		</ion-buttons>
    	<ion-title>Travlr Profile</ion-title>
  	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-list inset>
		<ion-item>
			<ion-label>First Name:</ion-label>
			{{ user.firstname }}
		</ion-item>

		<ion-item>
			<ion-label>Last Name:</ion-label>
			{{ user.lastname }}
		</ion-item>

		<ion-item>
			<ion-label>Email:</ion-label>
			{{ user.email }}
		</ion-item>

		<ion-item>
			<ion-label>Points:</ion-label>
			{{ user.points }}
		</ion-item>				
	</ion-list>

</ion-content>
