<ion-header>
  <ion-toolbar color=primary>
  	<ion-buttons slot="end">
  		<ion-button (click)="logout()">
  			<ion-icon slot="icon-only" name="log-out"></ion-icon>
  		</ion-button>
  	</ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<h1>Travlr</h1>
  
  <h5>
  	Travlr provides trip recommendations to users based on preferences. Recommended trips included travel arrangements, accomodations and activities at the destination.
	</h5>

    <ion-list>
      <ion-item>
        <ion-label>User:</ion-label>
        {{user.firstname}} {{user.lastname}}
      </ion-item>

      <ion-item routerLink="/profile">
        <ion-label>Your Profile</ion-label>
        <ion-icon md="md-arrow-forward"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Trips</ion-label>

        <ion-list>
          <ion-item button [routerLink]="['/trip', trip.id]" *ngFor="let trip of trips"> 
            {{ trip.tripName }} ( {{ trip.startDate }} - {{ trip.endDate }} )
          </ion-item>
        </ion-list>

      </ion-item>

      <ion-item>
        <ion-label>Reviews</ion-label>
        [To be added]
      </ion-item>
    </ion-list>
	<ion-button expand="block" routerLink="/trip" 
          routeDirection="forward">Create New Trip</ion-button>
</ion-content>
