<ion-header>
  <ion-toolbar color=primary>
    <ion-title>Budget</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<h5>Pick the start and end date of your trip:</h5>
		<form>
		<ion-list inset>

			<ion-item>
				<ion-input type="number" placeholder="Minimum Budget" id="minBudget" required>
				</ion-input>
			</ion-item>

			<ion-item>
				<ion-input type="number" placeholder="Maximum Budget" id="maxBudget" required>
				</ion-input>
			</ion-item>
		</ion-list>
	</form>

 <div style="width: 50%; float: left"><ion-button expand="block" routerLink="/activities" 
          routeDirection="Back">Back</ion-button></div>

 <div style="width: 50%; float: right"><ion-button expand="block" routerLink="/new-trip-results" 
         routeDirection="forward" (click)="getTripBudget()">Next</ion-button></div>

</ion-content>
